<doctype html>
    <title>Editar Usuário - Python Flask MySQL CRUD</title>
    <h2>Editar Usuário</h2>
    <form method="post" action="/update">
        <dl>
            <p>
                <input name="inputName" value="{{ row['name'] }}" type="text" placeholder="Name" autocomplete="off" required>
            </p>
            <p>
                <input name="inputEmail" value="{{ row['email'] }}" type="text" placeholder="Email" autocomplete="off" required>
            </p>
            <p>
                <input name="inputPassword" value="" type="password" placeholder="Password" autocomplete="off" required>
            </p>
        </dl>
        <p>
            <input name="id" value="{{ row['id'] }}" type="hidden">
            <input type="submit" value="Submit">
        </p>
    </form>